/*
  ========================================
  Header
  ========================================
*/
.logo {
  border-top: 10px solid black;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  text-transform: uppercase;
  margin: 40px 40px;
  text-align: left;
}
@media (max-width: 767px) {
  .logo {
    margin: 40px 0;
  }
}
header {
  background-image: url("assets/conference.jpg");
  background-repeat: no-repeat;
  margin-bottom: -40px;
}
.header-button {
  background-color: #fff;
  border: 0;
  text-transform: uppercase;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 20px;
  width: 30%;
  margin: 13px 13px 30px 13px;
}
.header-button:hover {
  background-color: #424949;
  color: #fff;
}
@media (max-width: 767px) {
  .header-button {
    width: 92%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-button {
    width: 29%;
    padding: 15px 10px;
  }
}
/*
  ========================================
  About 
  ========================================
*/
#about {
  margin-bottom: 40px;
}
.grad {
    background: #2E4053; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2E4053, #424949); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2E4053, #424949); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2E4053, #424949); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2E4053, #424949); /* Standard syntax (must be last) */
}
.col-md-4 {
  background-color: #424949;
  border: 25px solid #fff;
  border-radius: 45px;
  display: inline-block;
  height: 500px;
  padding-bottom: 60px;
}
.about-col {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}
.col-button {
  background-color: #fff;
  border: 0;
  text-transform: uppercase;
  padding: 15px 15px;
  font-size: 12px;
  width: auto;
  margin: auto;
}
.col-button:hover {
  background-color: #2E4053;
  color: #fff;
}
@media (max-width: 767px) {
  .about-col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*
  ========================================
  Typography
  ========================================
*/
a {
  color: black;
}
h1 {
  color: #fff;
}
.h2-about {
  color: #fff;
  margin: 40px 20px;
  padding-top: 15px;
}
.p-about {
  color: #fff;
}
.ul-about {
  color: #fff;
}
/*
  ========================================
  Profiles
  ========================================
*/
.profile-container {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .profile-container {
    margin-top: 20px;
  }
}
.profile-info {
  display: inline-block;
}
.profile-img {
  display: inline-block;
  vertical-align: top;
  border: 5px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}
.profile-img img {
  border-radius: 50%;
  height: 160px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}
